*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;

}
.Mid{
    /* font-family: 'Roboto', sans-serif; */
    margin-top: 6vw;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    height: 30vw;
}
.Mid h1{
    color: #EEEEEE;
    text-align: center;
    padding-top:10vw;
    font-size: 8vw;
    font-weight: 200;
    user-select: none;
    text-decoration: overline;
}
/* .Mid:hover h1{
    transition: ease-in .3s all;
    color: #852747; 
    cursor: pointer;
} */